﻿@model EventReporter.Web.Models.Location
@{
    ViewBag.Title = "Helyszin";
}

<h2>Helyszin</h2>

<table>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>Település</td>
        <td>@Html.DisplayFor(m => m.Zip)  @Html.DisplayFor(m => m.City)</td>
    </tr>
    <tr>
        <td>Cím</td>
        <td>@Html.DisplayFor(m => m.Address) @Html.DisplayFor(m => m.Number)</td>
    </tr>
</table>
